.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.dialogTitle {
  margin: 0;
  padding-bottom: 0.2rem;
  line-height: 1.15;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}

.addressContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.addressColumnHeader {
  padding: 0;

  text-align: center;
  font-size: 1.4rem;
  overflow: hidden;
  color: white;
  margin-right: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.voteColumnHeader {
  padding: 0;

  text-align: center;

  font-size: 1.4rem;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;

  overflow: hidden;
}

.wrapper {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.address:hover {
  transform: scale(1.03);
}

.address {
  padding: 0;
  text-align: center;
  margin-right: 20px;
  font-size: 1.2rem;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

.dialogButton {
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
}

.score {
  border-width: 0 4px;
  text-align: center;
  font-size: 1.4rem;
  color: white;
}
