.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 550px;
  height: 400px;

  text-align: center;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;

  display: flex;

  overflow-y: none;
  overflow-x: auto;

  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;

  width: 550px;
  min-height: 400px;

  overflow-y: scroll;

  margin-right: 50px;
  border-radius: 10px;

  margin-bottom: 40px;
  margin-top: 40px;

  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

.cell {
  width: 40px;
  height: 40px;
}
