.image {
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  width: 75%;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
}

.frame {
  padding-top: 20px;
  padding-bottom: 10px;
}
