.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* .center {

} */
/* .word {
  width: fit-content;
  text-align: center;
  display: flex;
  margin: 2px;
  flex-direction: row;
} */


.word {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}
