.container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 7px 3px;

  height: 40px;
  width: 40px;

  background-color: grey;
  border-radius: 20%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.character {
  font-size: 20px;
  user-select: none;
  color: white;
}
