.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.container {
  display: flex;
  flex-direction: row;
}

.right,
.left {
  flex: 1;
}

.left {
  /* height: 100vh; */
  background-color: white;
  flex-basis: 35%;
  flex-grow: 0;
  flex-shrink: 0;
}

.right {
  background-color: white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
