.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.right,
.left {
  flex: 1;
}

.left {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mobileHeader {
  display: none;
}

.keyboard {
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .keyboard {
    width: 100%;
  }

  .mobileHeader {
    display: initial;
    justify-content: flex-start;
  }

  .header,
  .carousel {
    display: none;
  }
}
