.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  height: 75px;
  width: 75px;
  margin: 5px;
}

.letter {
  color: white;
  font-size: 3rem;
  font-family: Helvetica Neue;
}
