.container {
  border-bottom: solid white 1px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem 0 1.5rem;
}

.title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  user-select: none;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.iconsContainer > * {
  cursor: pointer;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.votes {
  color: white;
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: auto;
}

.info {
  color: white;
}

.twitter {
  color: white;
  transition: color 1s ease-in-out;
}

.twitter:hover {
  color: #1da1f2;
}

.toolTip {
  padding: 5px 0;
}

.chartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 75px;
  height: auto;
}

.chart {
  height: 100%;
  width: 100%;
}
