.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  gap: 50px;
}

.imageContainer {
  height: 100px;
  width: 100px;
  position: relative;
}

.imageContainer img {
  border-radius: 10%;
}
