.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  gap: 50px;
  padding-left: 50px;
}

.imageContainer {
  height: 100px;
  width: 100px;
  position: relative;
  flex-shrink: 0;
}

.imageContainer img {
  border-radius: 10%;
}
