.dialogContainer * {
  background-color: transparent;
  box-shadow: none;
}

.imageContainer {
  position: relative;
  width: calc(100vh * 0.6);
  height: calc(100vh * 0.6);
}

@media only screen and (max-device-width: 480px) {
  .imageContainer {
    width: calc(100vw * 0.8);
    height: calc(100vw * 0.8);
  }

  .download {
    display: none;
  }
}

.image {
  border-radius: 5%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.download {
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.download path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.download:hover {
  transform: scale(1.05);
}
