.dialogContainer * {
  background-color: transparent;
  box-shadow: none;
}

.imageContainer {
  width: calc(100vh * 0.8);
  height: calc(100vh * 0.8);
}

.image {
  border-radius: 5%;
}

.dialogtitle {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  line-height: 1.15;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}

.dialogbutton {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.dialogcontent {
  padding: 0;
  margin: 0;
  width: 100%;
  color: white;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}