.imageRowContainer {
  height: 100%;
  width: 100%;
}

.imageRow {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
  .imageRow {
    flex-direction: column;
  }
}

.continueContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 200px;
  gap: 1rem;
}
