.imageContainer {
  position: relative;
  width: 50%;
  height: 100vh;
  transition: all 1s ease-in-out;
  filter: none;
  cursor: pointer;
  overflow: hidden;
}

.imageContainer > div {
  height: 100%;
  width: 100%;
}

.imageContainer:focus {
  width: 75%;
}

.imageContainer .submitButton {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.imageContainer:focus .submitButton {
  opacity: 1;
}

.imageContainer:nth-child(1) {
  border-right: solid 3px white;
}

.imageContainer:nth-child(2) {
  border-left: solid 3px white;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-device-width: 480px) {
  .imageContainer {
    width: 100vw;
    height: 50%;
  }

  .imageContainer:focus {
    height: 50%;
    width: 100%;
  }

  .imageContainer:nth-child(1) {
    border-bottom: solid 3px white;
    border-right: none;
  }

  .imageContainer:nth-child(2) {
    border-top: solid 3px white;
    border-left: none;
  }

  .imageContainer img {
    border-radius: 5%;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  isolation: isolate;
}

.percentage {
  color: white;
  font-size: 3rem;
  user-select: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
