.header {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #eee;
  top: 0%;
  right: 0%;
  width: 65%;
  height: 10%;
  border-bottom-left-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.moreInfoIcon {
  width: 10%;
  text-align: center;
}

.keyIcon {
  background-color: aliceblue;
  padding: 0 10px 0 10px;
  border-radius: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0/ 0.2);
}

.title {
  display: flex;

  align-items: flex-start;
  width: 50%;
  font-size: 2.7rem;
  text-align: center;
  /* width: 20%; */
  font-family: "main", "Bebas Neue", "Lobster", sans-serif;
  font-weight: normal;
  margin-right: 1rem;
  border-radius: 20px;
}
