.dialogTitle {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}

.dialogButton {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.dialogContent {
  padding: 0;
  margin: 0;
  width: 100%;
  color: white !important;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  white-space: pre;
}
