.container {
  border-bottom: solid white 1px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.iconContainer > * {
  transition: all 1s ease-in-out;
}

.iconContainer > *:hover {
  transform: scale(1.2);
}

.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
